Capstone-Project/ashenafi-capstone-project/ashenafi-capstone-project.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="ashenafi-capstone-project-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="ashenafi-capstone-project-config" raml="ashenafi-capstone-project.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="c4d8b0c9-527f-4fbe-a0d9-265b0ccaa13e">
        <wsc:connection wsdlLocation="http://api.icraftsoft.net:5858/ws/users.wsdl" service="UserPortService" port="UserPortSoap11" address="http://api.icraftsoft.net:5858/ws" />
    </wsc:config>
    <flow name="ashenafi-capstone-project-main">
        <http:listener config-ref="ashenafi-capstone-project-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ashenafi-capstone-project-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="ashenafi-capstone-project-console">
        <http:listener config-ref="ashenafi-capstone-project-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ashenafi-capstone-project-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="1f803a90-2bb3-4f4b-8ba3-0656f82f875f">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\users:application\json:ashenafi-capstone-project-config">
        <ee:transform doc:name="Transform Message" doc:id="43aeece9-17f2-42ae-b6e8-05a6d41ed2ef" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/users
---
{
	ns0#UpdateUserRequest: {
		ns0#User: {
			ns0#id: payload.id,
			ns0#fist: payload.first,
			ns0#last: payload.last,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="f002a16e-e396-479c-81e7-2a80c95b4cf9" config-ref="Web_Service_Consumer_Config" operation="UpdateUser" />
        <set-payload value="msg: &quot;users information updated&quot;" doc:name="Set Payload" doc:id="27117286-eb5a-46c8-b4ea-3217f941ca3a" />
        <logger level="INFO" doc:name="Logger" doc:id="1156b30b-d4ea-43e2-b1af-d09eb99d6596" message="#[payload]" />
    </flow>
    <flow name="delete:\users:ashenafi-capstone-project-config">
        <set-variable value="#[attributes.queryParams.id]" doc:name="Set Variable" doc:id="d23ed620-16b3-47e9-a5c7-e651d416ff00" variableName="id" />
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7dba59fe-0762-45ee-8769-fd87392e7f09">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/users
---
{
	ns0#DeleteUserRequest: {
		ns0#id: attributes.queryParams.id,
		
	}

}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume doc:name="Consume" doc:id="9f009452-02c8-41c4-8dd7-0e3ee0119a6c" config-ref="Web_Service_Consumer_Config" operation="DeleteUser" />
        <ee:transform doc:name="Transform Message" doc:id="3c914432-e448-4c06-8f0c-d6145ebcfcde">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	msg: "User Information Deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users:ashenafi-capstone-project-config">
        <ee:transform doc:name="Transform Message" doc:id="35f42362-a461-446b-93ce-48f1f498065b">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/users
---
{
	ns0#GetAllUsersRequest: attributes.headers
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume doc:name="Consume" doc:id="dc45c9c2-da2b-46dd-b968-fa87e03f8c24" config-ref="Web_Service_Consumer_Config" operation="GetAllUsers" />
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="db488f44-b3d3-4e8f-85c6-9fa7a38e82b8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.craftsoftware.com/users
---
payload.body.ns0#GetAllUsersResponse.*ns0#Users map ( user , indexOfUser ) -> {
	last: user.ns0#last default "",
	id: user.ns0#id default 0,
	department: user.ns0#department default "",
	first: user.ns0#fist default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\(id):ashenafi-capstone-project-config">
        <set-variable value="#[attributes.queryParams.id]" doc:name="Set Variable" doc:id="1e63a4c5-e50e-4cdf-b527-4ec8fbf0cde6" variableName="id" />
        <ee:transform doc:name="Transform Message" doc:id="443936da-db01-4cdf-a6d4-aefd071949bd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/users
---
{
	ns0#GetUserRequest: {
		ns0#id: attributes.uriParams.id as Number
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume doc:name="Consume" doc:id="87400ae0-1408-4bb2-90e6-8ab347135e14" config-ref="Web_Service_Consumer_Config" operation="GetUser" />
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="6bbcdc44-7096-4f6f-b255-3309e604d4fc">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.craftsoftware.com/users
---
[{
	id: payload.body.ns0#GetUserResponse.ns0#User.ns0#id,
	first: payload.body.ns0#GetUserResponse.ns0#User.ns0#fist,
	last: payload.body.ns0#GetUserResponse.ns0#User.ns0#last,
	department: payload.body.ns0#GetUserResponse.ns0#User.ns0#department
}]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users:application\json:ashenafi-capstone-project-config">
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="07349542-9efa-49ca-b67c-be64ee9ee7aa">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/users
---
{
	ns0#CreateUserRequest: {
		ns0#CreateUser: {
			ns0#fist: payload.first,
			ns0#last: payload.last,
			ns0#department: payload.department
		}
	}
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<wsc:consume operation="CreateUser" doc:name="Consume" doc:id="96383a35-1d25-4c70-a177-80d835114716" config-ref="Web_Service_Consumer_Config" />
        <set-payload value="User has been successfull created" doc:name="Set Payload" doc:id="92001220-2c93-40da-a420-5e6976637966" />
    </flow>
</mule>
